{% extends "internet/base_navbar.html" %}

{% block cuerpo %}
	
	<div class="class row-fluid">

		<div class="span3">
			<div class="class row-fluid">
			
					<form class="well form">
 						<input type="text" class="input-medium" placeholder="Usuario">
  						<input type="password" class="input-medium" placeholder="Contraseña">
  						<label class="checkbox">
    					<input type="checkbox"> Recordar
  						</label>

  						<div class="class row-fluid">
  							<div class="class span6">
  								<button type="submit" class="btn">Ingresar</button>
  							</div>
  							<div class="class span6">
  								<button href="../extranet/index.html" type="submit" class="btn">Registro</button>
  							</div>
  						</div>

					</form>
		
			</div>

			<div class="class row-fluid">
		
          		<div class="well sidebar-nav">
           			 <ul class="nav nav-list">
              			<li class="nav-header">Productos<hr></li>
              			
             			<li><a href="#">Tv y video</a></li>
              			<li><a href="#">Informatica</a></li>
              			<li><a href="#">Celulares</a></li>
              			<li><a href="#">Audio</a></li>
              			<li><a href="#">Camaras</a></li>
              			<li><a href="#">Electro hogar</a></li>
              			<li><a href="#">Aire acondicionado</a></li>
              			<li><a href="#">Accesorios e insumos</a></li>
            		</ul>
          		</div><!--/.well -->
        	</div><!--/span-->
		</div>
		
		<div class="class span9">

			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
			</ul>

			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
			</ul>

			<ul class="thumbnails">
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
				<li class="span3">
					<div class="thumbnail">
						<img src="./img/led.jpg" alt="">
						<div class="caption">
							<h4>Tv led 50"</h4>
							<p>Televisor led 3D de 40 pulgadas Full hd</p>
							<p><a class="btn" href="#"> <img src="./img/carrito.png" width="15px"> Comprar &raquo;</a></p>
						</div>
					</div>
				</li>
			</ul>


			<div class="class pager">
				<ul>
					<li class="active"><a href="#">1</a></li>
					<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">6</a></li>
					<li><a href="#">Ultimo</a></li>
				</ul>
			</div>

		</div>

	</div>

{% endblock %}