<div class="row-fluid">
	<div class="span4">
		{% if profile.avatar %}
			<img 	src="{{STATIC_URL}}{{profile.avatar}}" 
					alt="avatar" 
					style="width: 64px; height:auto;"
			>
		{% else %}
			<img 	src="{{STATIC_URL}}img/default_avatar.jpg" 
					alt="avatar" 
					style="width: 100%; height:auto;"
			>
		{% endif %}
	</div>
	<div class="span8">
		<h3 style="margin:0px; padding:0px;">{{profile.user|capfirst}}</h3>
	</div>
</div>


<br>


<table class="table table-bordered table-info-tuit-count">
	<tbody>		
		<tr>
			<td>
				<span id="id_profile_cantidad_de_tuits" class="badge badge-success">
					{{profile.cantidad_de_tuits_creados}}
				</span>
				<p>tuits</p>
			</td>
			<td>
				<span class="badge badge-info">
					{{profile.siguiendo_a.all.count}}
				</span>
				<p>siguindo</p>
			</td>
			<td>
				<span class="badge badge-warning">
					{{profile.seguido_por.all.count}}
				</span>
				<p>seguidores</p>
			</td>			
		</tr>
	</tbody>
</table>

<table class="table table-bordered">
<tbody>
	<tr>
		<td>
			<strong>WebSite:</strong> 
		</td>
		<td>
			{% if profile.website %} {{profile.website|urlize}} {% endif %}
		</td>
	</tr>
	<tr>
		<td>
			<strong>Descripci&oacute;n:</strong>
		</td>
		<td>
			{{profile.descripcion}}
		</td>
	</tr>
</tbody>
</table>


